@model DomainModel.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    FirstName : @Model.FirstName<br />
    LastName : @Model.LastName<br />
    Age : @Model.Age<br />
    Email : @Model.Email<br />
    Average : @Model.Average<br />
    Is class delegate ?
    @if (Model.IsClassDelegate)
    {
        @: Yes
    }
    else
    {
        @: No
    }
</p>